<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }} GUI</title>
    <!-- Loads the path to static Folder -->
    {% load staticfiles %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'gui/baseStyle.css' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block cssStyleAndJS %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="font-family: 'Libre Baskerville', serif;">911 Call Centre</a>
        </div>

        <!-- NavBar Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="navbar navbar-center">
                <li class="active" id="userId">
                    <b>Welcome, {{ name }}</b>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href= "{% url 'accounts:logout' %}">
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp; Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% if messages %}
    {% for message in messages %}
        <div id="messageAlert" {% if message.tags == "success" %} class="alert alert-success alert-dismissable"{% endif %}>
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{ message }}</strong>
        </div>
    {% endfor %}
{% endif %}

{% block body %}
{% endblock %}
</body>
</html>