body, html {
	height: 100%;
	position: relative;
}

.errorlist{
    display:none;
}

.alert{
	width:80%;
	position: relative;
    left: 10%;
    right: 10%;
    margin-left: -width;
    margin-top: -height;
}

#clearBtn,
#sendReport {
    float:right;
}

.unselectable,
#panel-form label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

select:required:invalid {
    color: gray;
}

option[value=""][disabled] {
    display: none;
}

option {
    color: black;
    font-weight:bold;
}

.panel{
    position: absolute;
    width: 78%;
	top: 0px;
	left: 50%;
	transform: translateX(-48.25%);
	margin: 150px auto;
	min-height: 250px;
	z-index: 99;
}

.panel-heading{
    margin: auto;
    padding: 10px;
    font-weight: bold;
    font-size: 150%;
}

#panel-form input,
#panel-form select,
#panel-form textarea,
#panel-form label {
    font-size: 15px;
    margin-bottom: 2px;
    font-family: Arial, san-serif;
    font-weight: bold;
}

#panel-form input,
#panel-form select,
#panel-form textarea {
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    padding: 5px;
}

#panel-form input:focus,
#panel-form select:focus,
#panel-form textarea:focus {
    background-color: #f9f4d9;
}

#panel-form textarea {
    width:95%;
    height: 100px;
    resize: vertical;
}

#panel-form select {
    height: 37px;
}

#otherCategory {
    float:right;
    width: 49.5%;
}

#panel-form .bold {
    font-weight:bold;
}

/* Make form look nice on smaller screens */
@media only screen and (max-width: 580px) {
    #panel-form{
        left: 3%;
        margin-right: 3%;
        width: 88%;
        margin-left: 0;
        padding-left: 3%;
        padding-right: 3%;
    }
}

::-webkit-input-placeholder {
    text-transform: initial;
}

:-moz-placeholder {
    text-transform: initial;
}

::-moz-placeholder {
    text-transform: initial;
}

:-ms-input-placeholder {
    text-transform: initial;
}

#panel-form div {
    font-weight: bold;
    display: inline-block;
    padding: 3px;
    border-radius: 5px;
    text-align: center;
}


#panel-form .left-div {
  display: inline-block;
  width: 50%;
  float: left;
  display: -webkit-flex;
}

#panel-form .right-div {
  display: inline-block;
  width: 50%;
  float: right;
  display: -webkit-flex;
}

#panel-form .bottom-div {
  width:100%;
  float:left;
  display: -webkit-flex;
}

#panel-form .other-div {
    width:100%;
    float:right;
    display: -webkit-flex;
}

input,
select,
textarea {
    -webkit-flex: 1;
}

#panel-form .button-div {
  width:100%;
}

.radio-div {
    width:100%;
    margin-left:1.5%;
}

.radio-div input {
    float:left;
    margin:0.8%;
}

.radio-div div {
    float:left;
    width:15%;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(105,105,105,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4);
}

.pac-container {
    position:relative;
    z-index: 9999;
}

#address {
    width:90%;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    font-size: 18px;
	margin-left:3%;
	margin-bottom: 15px;
	padding: 5px;
}

@media (max-width: 979px) {
    .modal-open .page-container .navbar-fixed-top {
        overflow-y: visible;
    }
}

#map{
	height: 300px;
	width: 90%;
	margin: 0 auto;
}

.modal {
	text-align:center;
}

#clrAddress {
	font-size:40px;
	text-decoration: none;
	cursor: pointer;
}

#maprad {
	font-size: 18px;
	margin-top: 15px;
	padding: 5px;
}



